<% include ../partials/header %>

<div class="container container-text">
    <form action="/stories" method="POST">
        <div class="form-group">
            <input class="form-control form-control-lg title" type="text" placeholder="Title" name="storyTitle" required>
            <br>
            <input class="form-control form-control-lg title" type="text" placeholder="Cover url" name="img">
            <br>
            <textarea id="mytextarea" name="storyContent" ></textarea>
        </div>
        <button class="btn btn-secondary btn-lg btn-block">SHARE</button>
    </form>
</div>

<% include ../partials/footer %>