<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Advent+Pro|Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch:700|Fredericka+the+Great|Special+Elite" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
    <script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script>
    <script>
        tinymce.init({
            selector: '#mytextarea',
            height: 300,
            menubar: false,
            toolbar: 'styleselect | bold italic | link image',
            content_css : '/css/style.css',
            body_class: 'editorBody'
        });
    </script>
    <title>StoryTeller- a place to share your thoughts</title>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light">
        <div class="container">
            <h1 class="h1"><a href="/stories"> STORYTELLER </a></h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                   <%if (currentUser){%>
                        <li>
                            <a class="btn btn-light btn-sm mb-1 auth-link" href="#"><span class="menu-items">Hi, <%=currentUser.username%></span></a>
                        </li>
                        <li class="nav-item">
                                <a class="btn btn-light btn-sm mb-1 auth-link" href="/stories/new"><span class="menu-items">Add story</span></a>
                            </li>
                        <li class="nav-item">
                            <a class="btn btn-light btn-sm mb-1 auth-link" href="/logout"><span class="menu-items">Log out</span></a>
                        </li>
                    <%} else {%>
                        <li class="nav-item">
                            <a class="btn btn-light btn-sm mb-1 auth-link" href="/login"><span class="menu-items"> Sing in</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-light btn-sm mb-1 auth-link" href="/register"><span class="menu-items">Sign up</span></a>
                        </li>
                    <%}%>
                </ul>
            </div>
        </div>
    </nav>
    <%if (error && error.length > 0){%>
        <div class="alert alert-dark" role="alert">
            <h3 class="h3"><%=error%></h3> 
        </div>
    <%}%> 
    <%if (success && success.length > 0){%>
        <div class="alert alert-dark" role="alert">
            <h3 class="h3"><%=success%></h3> 
        </div>
    <%}%>
   
    <script>
        $(function () {
            $(document).scroll(function () {
            var $nav = $(".navbar");
            $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
            });
        });
    </script>