<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <title>Story Teller</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="Share your trip experience" />
        <meta name="author" content="Nayk" />
        <link rel="stylesheet" type="text/css" href="/css/landingStyle.css" />
    </head>
    <body id="page">
            <ul class="cb-slideshow">
                <li><a href="stories"><span>Image 01</span></a><div><h3>share</h3></div></li>
                <li><a href="stories"><span>Image 02</span></a><div><h3>your</h3></div></li>
                <li><a href="stories"><span>Image 03</span></a><div><h3>thoughts</h3></div></li>
                <li><a href="stories"><span>Image 04</span></a><div><h3>with</h3></div></li>
                <li><a href="stories"><span>Image 05</span></a><div><h3>the whole</h3></div></li>
                <li><a href="stories"><span>Image 06</span></a><div><h3>world</h3></div></li>
            </ul>
    </body>
</html>